/* .table th {
    text-align: center;
    background-color: #366dd3;
    color: white;
}

.table td {
    vertical-align: middle;
}

.badge {
    padding: 6px 12px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
}

.btn-primary {
    background-color: #366dd3;
    border-color: #366dd3;
}

.btn-primary:hover {
    background-color: #2b58aa;
    border-color: #2b58aa;
} */
